.git
.github
.nx
node_modules
**/node_modules
.next
coverage
dist
**/dist
.pnpm-store
*.log
logs.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
!.env.example
*.tsbuildinfo
tmp
temp
pnpm-lock.yaml.prev
ops/deploy
